.cov{
    padding-top: 5rem;
}

.main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    padding: 2rem;
    grid-gap: 2rem;
    padding-bottom: 20rem;
}

.card{
    display: grid;
    box-sizing: border-box;
    border-radius: 0.5rem;
    grid-template-columns: 1fr;
    grid-template-rows: 4fr repeat(4,1fr);
    align-items: center;
    justify-items: center;
    background: #484d4d;
    text-align: center;
    padding: 2rem 4rem;
    margin: 2rem 8rem;
    transition: all 0.3s;
    z-index: 20;
}

.card1{
    box-sizing: border-box;
    border-radius: 0.5rem;
    display: grid;
    position: absolute;
    left: 2.2rem;
    width: auto;
    grid-template-columns: 1fr;
    grid-template-rows: 4fr repeat(4,1fr);
    align-items: center;
    justify-items: center;
    background: #484d4dc7;
    text-align: center;
    padding: 2rem 4rem;
    margin: 2rem 8rem;
    grid-column: 1/2;
    grid-row: 1/2;
    transition:all 0.3s ease;
    z-index: 10;
}

.card2{
    box-sizing: border-box;
    border-radius: 0.5rem;
    display: grid;
    position: absolute;
    left: 2.5rem;
    width: auto;
    grid-template-columns: 1fr;
    grid-template-rows: 4fr repeat(4,1fr);
    align-items: center;
    justify-items: center;
    background: #484d4dc7;
    text-align: center;
    padding: 2rem 4rem;
    margin: 2rem 8rem;
    grid-column: 1/2;
    grid-row: 1/2;
}

.card3{
    box-sizing: border-box;
    border-radius: 0.5rem;
    display: grid;
    position: absolute;
    left: 34.3vw;
    width: auto;
    grid-template-columns: 1fr;
    grid-template-rows: 4fr repeat(4,1fr);
    align-items: center;
    justify-items: center;
    background: #484d4dc7;
    text-align: center;
    padding: 2rem 4rem;
    margin: 2rem 8rem;
    grid-column: 2/3;
    grid-row: 1/2;
    transition:all 0.3s ease;
    z-index: 11;
}

.card4{
    box-sizing: border-box;
    border-radius: 0.5rem;
    display: grid;
    position: absolute;
    left: 34.3vw;
    width: auto;
    grid-template-columns: 1fr;
    grid-template-rows: 4fr repeat(4,1fr);
    align-items: center;
    justify-items: center;
    background: #484d4dc7;
    text-align: center;
    padding: 2rem 4rem;
    margin: 2rem 8rem;
    grid-column: 2/3;
    grid-row: 1/2;
}

.card5{
    box-sizing: border-box;
    border-radius: 0.5rem;
    display: grid;
    position: absolute;
    left: 67.2vw;
    width: auto;
    grid-template-columns: 1fr;
    grid-template-rows: 4fr repeat(4,1fr);
    align-items: center;
    justify-items: center;
    background: #484d4dc7;
    text-align: center;
    padding: 2rem 4rem;
    margin: 2rem 8rem;
    grid-column: 2/3;
    grid-row: 1/2;
    transition:all 0.3s ease;
    z-index: 11;
}

.card6{
    box-sizing: border-box;
    border-radius: 0.5rem;
    display: grid;
    position: absolute;
    left: 67.2vw;
    width: auto;
    grid-template-columns: 1fr;
    grid-template-rows: 4fr repeat(4,1fr);
    align-items: center;
    justify-items: center;
    background: #484d4dc7;
    text-align: center;
    padding: 2rem 4rem;
    margin: 2rem 8rem;
    grid-column: 2/3;
    grid-row: 1/2;
}


.card:hover{
    transform: translateY(-3.6rem);
}

.card:hover + .card1{
    transform: translateY(-2rem);
}

.card:hover + .card3{
    transform: translateY(-2rem);
}

.card:hover + .card5{
    transform: translateY(-2rem);
}


.name{
    font-size: 2.5rem;
    grid-row: 2/3;
    color: white;
}

.job{
    font-size: 2rem;
    grid-row: 3/4;
    color: white;
}

.icons{
    color: white;
    font-size: 3.5rem;
}



.num{
    font-size: 2rem;
    color: white;
}

.circle{
    box-sizing: border-box;
    border-radius: 30rem;
    background: grey;
    background-position: center;
    background-size:cover;
    height: 15rem;
    width: 15rem;
    align-self: center;
    grid-row: 1/2;
}

