
.main{
    justify-content: center;
    align-items: center;
    flex-direction: row;
    text-align: center;
    height: 100%;
    padding: 5em;
}

.elem{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    font-size: 2rem;
    border-radius: 1em;
    gap: 1em;
    box-sizing: border-box;
    margin: auto;
    align-items: center;
    justify-items: center;
    justify-self: center;
    padding: 2em 2em;
    background-color: rgba(125,255,255,0.8);
    height: 100%;
    width: 80%;
    box-shadow: 0px 0px 10px #888888;
}

.box{
    width: 50%;
    height: 70%;
    background-color: #AAA;
}

.para{
    grid-column: 2/3;
    text-align: justify;
}

@media only screen and (max-width: 1400px){
    .elem{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .para{
            grid-row: 2/3;
            text-align: justify;
        }
    .box{
            width: 50%;
        height: 50%;
        }
}
