
.main{
    display: block;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    text-align: center;
    padding: 2rem;
}

.cara{
    padding-top: 2rem;
}

.elem{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    font-size: 2rem;
    border-radius: 1rem;
    gap: 1rem;
    box-sizing: border-box;
    margin: auto;
    align-items: center;
    justify-items: center;
    justify-self: center;
    padding: 1.5rem 1.5rem;
    background-color: rgba(255,255,255,1);
    min-height: 35rem;
    width: 80%;
    box-shadow: 0rem 0rem 13px 15px #BBB;
}

.box{
    width: 50%;
    height: 70%;
    background-color: #AAA;
}

.para{
    grid-column: 2/3;
    font-size: 1.5rem;
    text-align: justify;
}

@media only screen and (max-width: 1400px){
    .elem{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .para{
            grid-row: 2/3;
            text-align: justify;
        }
    .box{
            width: 50%;
        height: 50%;
        }
}
