body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
 
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  .cont {
    background-image:url("ktj background.png");
    height: 120vh;
    width: 130vw;
    background-repeat:no-repeat;
    border-radius: 0px;
    display:flex;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    overflow:hidden;
    position:fixed;
  }
  
  
   .SignSide {
    height: 77vh;
  width: 29.7916vw;
  left: 9.166vw;
  top: 20.5vh;
  position:absolute;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  Opacity: 80%;
  background-blend-mode: multiply;
  background-image: url("div background.png");
   }

   .SignSide h1 {
position: absolute;
top:50vh;
left:1.5vw;
font-size:2.9rem;
   }
   .SignSide img {
    position:absolute;
    height:50vh;
    width:30vw;
    left:0.5vw;
   }
   .SignIn {
    position:absolute;
    height:77vh;
  width: 80.5vw;
  left: 9.166vw;
  top: 20.5vh;
  border-radius: 25px;
  background: #FFFFFF;
  box-shadow: 0px 2px 25px 17px #00000040;
  background-blend-mode: multiply;
   }
   @media screen and (max-width:1000px){
    .SignSide {left: 11vw;
      width: 29.7916vw;}
   }
   .Sign {
  height: 4vh;
  width: 100%;
  left: 21vw;
  top:10.5vh;
  position:absolute;
  border-radius: nullpx;
  font-family: Montserrat;
  font-size: 6vh;
  font-weight: 600;
  line-height: 37px;
  letter-spacing: 0em;
  text-align: justified;
  vertical-align: top;
  font-weight: SemiBold;
  color:#13278F;
  
   }
   @media screen and (max-width:415px){
    .Sign {left: 15.5vw;
      top:10.5vh;
      }
   }
   .FormLabel1
  {
    height: 31.21019172668457px;
  width: 100%;
  left: 42.916vw;
  top: 29vh;
  position:absolute;
  border-radius: nullpx;
  font-family: Montserrat;
  font-size: 2.15vh;
  font-weight: 400;
  line-height: 2.637vh;
  letter-spacing: 0em;
  text-align: justified;
  color: #322929;
  vertical-align: top;
  
  }
  .FormLabel2 {
  
  height: 3.0478vh;
  width: 100%;
  left: 67.29vw;
  top: 29vh;
  border-radius: nullpx;
  font-family: Montserrat;
  font-size: 2.15vh;
  font-weight: 400;
  line-height: 2.636vh;
  letter-spacing: 0em;
  text-align: justified;
  color: #000000;
  vertical-align: top;
  position:absolute;
  
  }
  .In1 {
    height: 4.354vh;
  width:18.144vw;
  left: 42.916vw;
  top: 32vh;
  border-radius: 10.700636863708496px;
  background: #D9D9D9;
  box-shadow: 0px 3.5668790340423584px 3.5668790340423584px 0px #00000040;
  position:absolute;
  }
  .In2 {
    height: 4.35vh;
  width:18.6428vw;
  left: 67.0833vw;
  top: 32vh;
  border-radius: 10.68941879272461px;
  background: #D9D9D9;
  box-shadow: 0px 3.5631396770477295px 3.5631396770477295px 0px #00000040;
  position:absolute;
  }
  
  #Eye {
    height: 28px;
  width: 2.222vw;
  left: 81.805vw;
  top: 587px;
  border-radius: 0px;
  position:absolute;
  background-image: url("ktjeye.png");
  background-blend-mode: multiply;
  opacity:70%;
  }
  
  
  .Button1 {
    
    height: 4.735vh;
    width: 42.219vw;
    left: 43vw;
    top: 87.5vh;
    border-radius: 11.636941909790039px;
    background: #5161BE;
    box-shadow: 0px 3.878980875015259px 3.878980875015259px 0px #00000040;
  
    box-shadow: 0px 4px 4px 0px #00000040;
   position: absolute;    
  }
  .ButtonLabel {
    
    height: 2.54vh;
  width: 100%;
  left: 60vw;
  top: 88.5vh;
  border-radius: nullpx;
  font-family: Montserrat;
  font-size: 2.3vh;
  font-weight: 700;
  line-height: 2.636vh;
  letter-spacing: 0em;
  text-align: left;
  vertical-align: top;
  color: #FFFFFF;
  position: absolute;
  
  }
  .Already {
    height: 2.54vh;
  width: 100%;
  left: 45vw;
  top: 86.9vh;
  border-radius: nullpx;
  font-family: Montserrat;
  font-size: 2vh;
  font-weight: 600;
  line-height: 2.34vh;
  letter-spacing: 0em;
  text-align: center;
  
 
  padding:0;
  margin:0;
  position:absolute;
  }

  

  #SignInB {
    color:linear-gradient(0deg, #35469E, #35469E);
  }
  .ForgotPassword {
    height: 3.03vh;
  width: 15.5vw;
  left: 71.4vw;
  top: 65.72vh;
  border-radius: nullpx;
  font-family: Montserrat;
  font-size: 2vh;
  font-weight: 500;
  line-height: 2.343vh;
  letter-spacing: 0em;
  text-align: justified;
  vertical-align: top;
  color: #6977C6;
  position:absolute;
  
  }
  .Remember {
    height: 2.44vh;
    width: 2vw;
    left: 43vw;
    top: 65.72vh;
    border-radius: 5px;
    background: #DDDDDD;
    box-shadow: 0px 4px 4px 0px #00000040;
    position: absolute;
  }
  .RememberMe {
    font-family: Montserrat;
    font-size: 2vh;
    font-weight: 500;
    line-height: 2.343vh;
    letter-spacing: 0em;
    text-align: justified;
   vertical-align: top;  
   color: #6977C6;
   position: absolute;
   height: 3.03vh;
  width: 15.5vw;
  left: 45.7vw;
  top: 65.72vh;
  border-radius: nullpx;
  }
  
  .SignInB {
    height: 4.735vh;
  width: 42.3vw;
  left: 43vw;
  top: 71.582vh;
  border-radius: 11.636941909790039px;
  background: #5161BE;
  box-shadow: 0px 3.878980875015259px 3.878980875015259px 0px #00000040;
  
  box-shadow: 0px 4px 4px 0px #00000040;
  position: absolute;
  }
  .SignInT {
    height: 2.54vh;
  width: 100%;
  left:60.21vw;
  top: 72.65vh;
  border-radius: nullpx;
  font-family: Montserrat;
  font-size: 2.3vh;
  font-weight: 700;
  line-height: 2.636vh;
  letter-spacing: 0em;
  text-align: left;
  vertical-align: top;
  color: #FFFFFF;
  position:absolute;
  }
  .Linksto {
    height: 2.54vh;
  width: 40vw;
  left: 42vw;
  top: 93vh;
  border-radius: nullpx;
  font-family: Montserrat;
  font-size: 2.3vh;
  font-weight: 600;
  line-height: 2.636vh;
  letter-spacing: 0em;
  text-align: center;
  color: linear-gradient(0deg, #000000, #000000);
  position: absolute;
  }
  .Linksto Link {
    color:linear-gradient(0deg, #35469E, #35469E);
  }
  input {
    font-size: xx-large;
    padding: auto;
  }
  .PLabel3 {
    height: 3.05vh;
width: 8.855vw;
left:42.916vw;
top: 38.2vh;
position:absolute;
  }
  .PLabel4 {
    height: 3.05vh;
width: 100%;
left: 67.29vw;
top: 38.2vh;
position:absolute;
  }
  .PLabel5 {
    height: 3.05vh;
width: 100%;
left: 42.916vw;
top: 48vh;
position:absolute;
  }
  .PLabel6 {
    height: 3.05vh;
width: 100%;
left: 42.916vw;
top: 58vh;
position: absolute;
  }
  .PLabel7 {
    height: 3.05vh;
width: 8.855vw;
left: 42.916vw;
top: 68vh;
border-radius: nullpx;
position: absolute;
  }
  .PLabel8 {
    height: 3.05vh;
width: 8.855vw;
left: 67.5vw;
top: 68vh;
position:absolute;
  }
  .PLabel9 {
    height: 3.05vh;
width: 8.855vw;
left: 42.916vw;
top: 77vh;
position:absolute;
  }
  .PLabel {
    border-radius: nullpx;
font-family: Montserrat;
font-size: 2.15vh;
font-weight: 400;
line-height: 2.636vh;
letter-spacing: 0em;
text-align: justified;
color: #322929;

  }
  .PIn3 {
    height: 4.354vh;
width: 18.144vw;
left: 42.916vw;
top: 41.5vh;
position:absolute;
background:#D9D9D9;
  }
  .PIn4 {
    height: 4.35vh;
width: 18.125vw;
left: 67.29vw;
top: 41.5vh;
border-radius: 10.68941879272461px;
position:absolute;
background:#D9D9D9;
  }
  .PIn5 {
    height: 4.735vh;
width: 42.3vw;
left: 42.916vw;
top: 51.5vh;
border-radius: 11.636941909790039px;
position:absolute;
background:#D9D9D9;
  }
  .PIn6 {
    height: 4.735vh;
width: 42.3vw;
left: 42.916vw;
top: 61.6vh;
border-radius: 11.636941909790039px;
position: absolute;
background:#D9D9D9;
  }
  .PIn7 {
    height: 4.354vh;
width: 18.143vw;
left: 42.916vw;
top: 71.3vh;
border-radius: 10.700636863708496px;
position:absolute;
background:#D9D9D9;
  }
  .PIn8 {
    height: 4.35vh;
width: 18.125vw;
left: 67.29vw;
top: 71.3vh;
border-radius: 10.68941879272461px;
position:absolute;
background:#D9D9D9;
  }
  .PIn9 {
    height: 4.735vh;
width: 42.3vw;
left: 42.916vw;
top: 80vh;
border-radius: 11.636941909790039px;
position:absolute;
background:#D9D9D9;
  }
  .FormLabel3 {
    height: 3.05vh;
  width: 100%;
  left: 43.1944vw;
  top: 42.09vh;
  border-radius: nullpx;
  font-family: Montserrat;
  font-size: 2.15vh;
  font-weight: 400;
  line-height: 2.636vh;
  letter-spacing: 0em;
  text-align: justified;
  vertical-align: top;
  color: #000000;
  position:absolute;
  }
  .In3 {
    height: 4.735vh;
  width: 42.2916vw;
  left: 42.916vw;
  top: 45.12vh;
  border-radius: 11.636941909790039px;
  background: #D9D9D9;
  box-shadow: 0px 3.878980875015259px 3.878980875015259px 0px #00000040;
  position:absolute;
  }
  .FormLabel4 {
    height: 3.05vh;
  width: 100%;
  left: 42.916vw;
  top: 53.6vh;
  border-radius: nullpx;
  font-family: Montserrat;
  font-size: 2.15vh;
  font-weight: 400;
  line-height: 2.636vh;
  letter-spacing: 0em;
  text-align: justified;
  vertical-align: top;
  color: #000000;
  position:absolute;
  }
  .In4 {
    height: 4.735vh;
  width: 42.2916vw;
  left: 42.9166vw;
  top: 56.43vh;
  border-radius: 11.636941909790039px;
  background: #D9D9D9;
  box-shadow: 0px 3.878980875015259px 3.878980875015259px 0px #00000040;
  position:absolute;
  }
  
  .FormLabel5 {
    height: 3.048vh;
    width: 100%;
    left: 43.164vw;
    top: 64.5vh;
    border-radius: nullpx;
    font-family: Montserrat;
    font-size: 2.15vh;
    font-weight: 400;
    line-height: 2.636vh;
    letter-spacing: 0em;
    text-align: justified;
  vertical-align: top;
  color: #000000;
  position:absolute;
  
  }
  .In5 {
    height: 4.735vh;
  width: 42.2916vw;
  left: 42.9166vw;
  top: 67.35vh;
  border-radius: 11.636941909790039px;
  background: #D9D9D9;
  box-shadow: 0px 3.878980875015259px 3.878980875015259px 0px #00000040;
  position:absolute;
  }
  @media only screen and (max-width:1000px) {
    .SignIn{
      width:80.5vw;
      position: relative;
      padding:10vw;
      margin:0;
      left:11vw;
    }
    .SignSide {
      left:11vw;
    }
  }
  @media screen and (max-width:768px){
    .Linksto {
      font-size: 1.6vh;
      top:93vh;
      left:30vw;
    }
    .RememberMe,.ForgotPassword {
      font-size: 1.7vh;
    }
    .FormLabel1,.FormLabel3,.In3,.PLabel3,.FormLabel4,.PLabel5,.PLabel7,.PIn7,.PLabel6,.PIn6,.PLabel9,.PIn9,.In1,.PIn3,.In4,.PIn5 {
      left:13vw;
      font-size:1.9vh;
    }
    .PIn5,.PIn6,.PIn9,.In3,.In4 {
      width:77vw;
    }
    .In1,.In2,.PIn3,.PIn4,.PIn7,.PIn8 {
      width:35vw;
      
    }
    .FormLabel2,.In2,.PLabel4,.PIn4,.PIn8,.PLabel8 {
      font-size: 1.9vh;
      left:55vw;
    }
    
    .SignSide {
      display:none;
    }
    .Button1 {
      left:30vw;
    }
    .ButtonLabel {
      left: 44vw;
    }
    .Remember {
      left:15vw;
    }
    .RememberMe {
      left:18vw;
    }
    .ForgotPassword {
      left:72vw;
    }
    .SignInB {
      left:21vw;
      width:60vw;
    }
    .SignInT{
      left:46vw;
    }
   }
