@font-face {
  font-family: Montserrat;
  src: url("../../fonts/Montserrat-Regular.ttf");
}

html {
  scroll-behavior: smooth;
}

.container {
  position: absolute;
  background-image: url("../../images/bg.svg");
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  perspective: 1px;
  overflow-x: hidden;
  overflow-y: auto;
  transform: translateZ(0);
}

.bg {
  background-image: url("../../images/Homeback.svg");
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 32.8125% 37.6875% 29.5%;
  grid-template-columns: repeat(16, 1fr);
  column-gap: 1em;
  z-index: 2;
}

.im {
  background-image: url("../../images/homepage_img.svg");
  grid-row: 2/3;
  grid-column: 1/5;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 90%;
}

.vert {
  background-color: #5d7fe6;
  grid-column: 5/6;
  grid-row: 2/3;
  height: 95%;
  width: 10%;
  align-self: flex-end;
}

.heading {
  font-family: Montserrat;
  padding: 3%;
  font-size: 4em;
  color: #393232;
  letter-spacing: 0.5em;
  text-shadow: 0px 4px 4px #999;
  grid-row: 2/3;
  grid-column: 5/-1;
  align-self: center;
}

.bod {
  position: relative;
  top: 100vh;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
}

.cara{
  position: relative;
  top: 170vh;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
}

.inc{
  position: relative;
  top: 150vh;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
}

.SignUpD {
  position: relative;
  background-size: auto;
  background-repeat: repeat;
  top: 100vh;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
}

.SignInD {
  position: relative;
  background-size: auto;
  background-repeat: repeat;
  top: 100vh;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
}
.ProfileE {
  position: relative;
  background-size: auto;
  background-repeat: repeat;
  top: 1vh;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
}

.ProfileS {
  position: relative;
  background-size: auto;
  background-repeat: repeat;
  top: 1vh;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
}
@media screen and (max-width: 1200px) {
  .SignInD,
  .SignUpD {
    top: 150vh;
  }
}
@media screen and (max-width: 850px) {
  .SignInD,
  .SignUpD {
    top: 200vh;
  }
}
@media screen and (max-width: 720px) {
  .SignInD,
  .SignUpD {
    top: 250vh;
  }
}
@media screen and (max-width: 650px) {
  .SignInD,
  .SignUpD {
    top: 300vh;
  }
}
@media screen and (max-width: 570px) {
  .SignInD,
  .SignUpD {
    top: 360vh;
  }
}
@media screen and (max-width: 550px) {
  .SignInD,
  .SignUpD {
    top: 400vh;
  }
}
@media screen and (max-width: 520px) {
  .SignInD,
  .SignUpD {
    top: 450vh;
  }
}
@media screen and (max-width: 480px) {
  .SignInD,
  .SignUpD {
    top: 500vh;
  }
}
@media screen and (max-width: 460px) {
  .SignInD,
  .SignUpD {
    top: 550vh;
  }
}
